<%- contentFor('body') %>
    <h1>Cadastro de crianças</h1>
    <span>Nome: </span>
    <input name="nome" type="text">
    <span>Idade: </span>
    <input name="idade" type="text">
    <span>Peso: </span>
    <input name="peso" type="text">
    <span>Altura: </span>
    <input name="altura" type="text">
    <button onclick="alert('teste')">Cadastrar</button>
